/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: fit-content;
  margin-right: 8px;
}

.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}

.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}

@media (max-width: 767px) {
  .upload-list-inline .ant-upload-list-item {
    width: 100% !important;
  }
}
