@import '~antd/dist/antd.css';

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  border-bottom: 1px solid black;
  height: 80px;
  padding: 8px 0;
  text-align: center;
}

.App-header h1 {
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-content {
  background: white;
  padding: 50px 0;
}

.App-footer {
  border-top: 1px solid #ddd;
  padding: 30px 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
