@import '~antd/dist/antd.css';

.App {
  background: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  border-bottom: 1px solid black;
  height: 80px;
  padding: 10px 0;
  text-align: center;
}

.App-header h1 {
  color: white;
}

.App-title {
  font-size: 1.8em;
}

.App-content {
  background: white;
  padding: 60px 25px;
}

.App-footer {
  border-top: 1px solid #ddd;
  padding: 30px 0;
}

/* excuse these "responsive" hacks, they're just for quick aethetics! */

.hidden-mobile {
  display: none;
}

@media (max-width: 767px) {
  .fullwidth-mobile {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .hidden-mobile {
    display: block;
  }
}
